body {
  grid-template:
    "header header" auto
    "main sidebar" auto
    "footer footer" auto / 1fr auto;
}
header {
  grid-area: header;
}
main, aside {
  padding: 1em; 
}
main {
  grid-area: main;
}
aside {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
}
@media screen and (max-width: 1024px) {
  fieldset {
    grid-template-columns: repeat(2, 1fr);
  }
  form {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  fieldset {
    grid-template-columns: 1fr;
  }
}