body {
  grid-template: "header header" auto
  "main sidebar" auto
  "footer footer" auto / 1fr 1fr;
}
header {
  grid-area: header;
}
main {
  grid-area: main;
  padding: 1em;
}
aside {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
}