body {
  grid-template: "header header" auto
  "main main" auto
  "footer footer" auto / 1fr 1fr;
}
main {
  /* width: 100%; */
  grid-area: main;
}
.confirmation-section {
  margin: auto;
  border: 1px solid #ccc;
  width: max(250px, 40%);
  padding: 1em;
}