body {
  grid-template:
    "header header header header" auto
    "main main main sidebar" auto
    "footer footer footer footer" auto / 1fr 1fr 1fr 0.8fr;
}
button {
  background-color: #ccc;
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
aside {
  grid-area: sidebar;
}
footer {
  grid-area: footer;
}
#breadSection {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
article {
  width: 200px;
}
figure > img {
  width: 100px;
}
