body {
  grid-template:
    "header" auto
    "main" auto
    "footer" auto / auto;
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer ;
}
#error {
  width: fit-content;
  margin: auto;
  padding: 1em;
}